{%- liquid
  assign social_facebook_url = settings.social_facebook_link
  assign social_instagram_url = settings.social_instagram_link
  assign social_twitter_url = settings.social_twitter_link
  assign social_tiktok_url = settings.social_tiktok_link
  assign social_youtube_url = settings.social_youtube_link
-%}

<ul>
  {%- if social_youtube_url != blank -%}
    <li>
      <a href="{{ social_youtube_url }}" target="_blank" rel="noopener" title="YouTube">
        <img src="{{ 'icon-social-youtube.svg' | asset_url }}" alt="YouTube">
      </a>
    </li>
  {%- endif -%}

  {%- if social_facebook_url != blank -%}
    <li>
      <a href="{{ social_facebook_url }}" target="_blank" rel="noopener" title="Facebook">
        <img src="{{ 'icon-social-facebook.svg' | asset_url }}" alt="Facebook">
      </a>
    </li>
  {%- endif -%}

  {%- if social_instagram_url != blank -%}
    <li>
      <a href="{{ social_instagram_url }}" target="_blank" rel="noopener" title="Instagram">
        <img src="{{ 'icon-social-instagram.svg' | asset_url }}" alt="Instagram">
      </a>
    </li>
  {%- endif -%}

  {%- if social_twitter_url != blank -%}
    <li>
      <a href="{{ social_twitter_url }}" target="_blank" rel="noopener" title="X (Twitter)">
        <img src="{{ 'icon-social-twitter.svg' | asset_url }}" alt="X (Twitter)">
      </a>
    </li>
  {%- endif -%}

  {%- if social_tiktok_url != blank -%}
    <li>
      <a href="{{ social_tiktok_url }}" target="_blank" rel="noopener" title="TikTok">
        <img src="{{ 'icon-social-tiktok.svg' | asset_url }}" alt="TikTok">
      </a>
    </li>
  {%- endif -%}
</ul>
