<ul>
  {%- assign social_facebook_url = settings.social_facebook_link | default: '#' -%}
  {%- assign social_instagram_url = settings.social_instagram_link | default: '#' -%}
  {%- assign social_youtube_url = settings.social_youtube_link | default: '#' -%}
  <li>
    <a href="{{ social_youtube_url }}" target="_blank" title="Youtube">
      <img src="{{ 'icon-social-youtube.svg' | asset_url }}" alt="Youtube">
    </a>
  </li>
  <li>
    <a href="{{ social_facebook_url }}" target="_blank" title="Facebook">
      <img src="{{ 'icon-social-facebook.svg' | asset_url }}" alt="Facebook">
    </a>
  </li>

  <li>
    <a href="{{ social_instagram_url }}" target="_blank" title="Instagram">
      <img src="{{ 'icon-social-instagram.svg' | asset_url }}" alt="Instagram">
    </a>
  </li>
</ul>
