{% if section.settings.image != blank or section.settings.title != blank or section.settings.pretitle != blank %}
  <section class="hero-image-with-content-slider align-{{ section.settings.content_alignment }}">
   
      <div class="image-section ">
        {% if section.settings.image != blank %}
          {% assign imageAlt = section.settings.image.alt | default: section.settings.title %}
          {% include 'image_code' with mobileImage: section.settings.mobileImage, tabletImage: section.settings.mobileImage, desktopImage: section.settings.image, imageAlt: imageAlt, critical: true %}
        {% endif %}
      </div>
      <div class="container-1336 flex">
        <div class="content">
          {% if section.settings.pretitle != blank %}
            <span class="pre-title-bold">{{ section.settings.pretitle }}</span>
          {% endif %}

          {% if section.settings.title != blank %}
            <h2 class="{{ section.settings.text_size }}">{{ section.settings.title }}</h2>
          {% endif %}

          {% if section.settings.description != blank %}
            <div class="description full-format">
              {{ section.settings.description }}
            </div>
          {% endif %}

          {% if section.settings.buttonText != blank and section.settings.buttonLink != blank %}
            <a class="btn btn--secondary" href="{{ section.settings.buttonLink }}">
              {{- section.settings.buttonText -}}
            </a>
          {% endif %}
        </div>
      
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Hero image with content",
  "tag": "section",
  "class": "section hero-image-with-content-section",
  "settings": [
    {
      "type": "header",
      "content": "Background image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop image"
    },
    {
      "type": "image_picker",
      "id": "mobileImage",
      "label": "Mobile image"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content alignment",
      "default": "left",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Title size",
      "default": "h1",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" }
      ]
    },
    {
      "type": "text",
      "id": "pretitle",
      "label": "Pretitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button text",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Hero image with content"
    }
  ]
}
{% endschema %}
