

{% if section.blocks.size > 0 %}
  <section class="testimonial-product-slider">
    <div class="swiper js_testimonial-product-slider">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% if block.type == 'slide' %}
            <div class="swiper-slide">
              <div class="image-section ">
                {% if block.settings.image != blank %}
                  {% assign imageAlt = block.settings.image.alt | default: block.settings.title %}
                  {% include 'image_code' with mobileImage: block.settings.mobileImage, tabletImage: block.settings.mobileImage, desktopImage: block.settings.image, imageAlt: imageAlt, critical: true %}
                {% endif %}
              </div>
             <div class="container-1320 flex">
              <div class="content">
                
                {% if block.settings.title != blank %}
                  <h3 class="h4">{{ block.settings.title }}</h3>
                {% endif %}

                {% if block.settings.description != blank %}
                  <div class="description">
                    {{ block.settings.description }}
                  </div>
                {% endif %}

                {% if block.settings.buttonText != blank and block.settings.buttonLink != blank %}
                  
                    <a class="btn btn--secondary" href="{{ block.settings.buttonLink }}">
                      {{- block.settings.buttonText -}}
                    </a>
                 
                {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      {% if section.blocks.size > 1 %}
       
       <div class="swiper-pagination dark-bg swiper-pagination-testimonial-product-slider"></div>
      {% endif %}
    </div>
  </section>
{% endif %}




<script>
  jQuery(function () {
    if (jQuery('.js_testimonial-product-slider').length) {
      new Swiper('.js_testimonial-product-slider', {
        slidesPerView: 1,
        loop: {{ section.settings.slider_loop }},
        pagination: {
          el: '.swiper-pagination-testimonial-product-slider',
          clickable: true,
        }
      });
    }
  });
</script>


{% schema %}
{
  "name": "Testimonial Slider",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "slider_loop",
      "label": "Loop slides",
      "default": "true",
      "options": [
        { "value": "true", "label": "On" },
        { "value": "false", "label": "Off" }
      ]
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "limit": 10,
      "settings": [
        {
          "type": "header",
          "content": "Background image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Desktop image"
        },
        {
          "type": "image_picker",
          "id": "mobileImage",
          "label": "Mobile image"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content alignment",
          "default": "left",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ]
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "Title size",
          "default": "h1",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" }
          ]
        },
        {
          "type": "text",
          "id": "pretitle",
          "label": "Pretitle"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "buttonText",
          "label": "Button text",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "buttonLink",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial Product Slider",
      "blocks": [
        { "type": "slide" },
        { "type": "slide" }
      ]
    }
  ]
}
{% endschema %}

