{%- style -%}
  .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.paddingtop | round: 0 }}px !important;
      padding-bottom: {{ section.settings.paddingbottom | round: 0 }}px !important;
    }
    @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.paddingtopmobile | round: 0 }}px !important;
      padding-bottom: {{ section.settings.paddingbottomMobile | round: 0 }}px !important;
    }
  }
{%- endstyle -%}
{%- assign testimonial = false -%}

{% if section.blocks.size > 0 %}
  <div class="testimonial-insta-slider section-{{ section.id }}-padding">
    <div class="testimonial-slider multiple-testimonial">
      <div class="container-1590">
        {% if section.settings.title != blank or section.settings.pretitle != blank %}
          <div
            class="top-section text-center"
          >
            {% if section.settings.pretitle != blank %}
              <span class="pre-title">{{ section.settings.pretitle }}</span>
            {% endif %}
            {% if section.settings.title != blank %}
              <h1 class="{{ section.settings.text_size }}">
                {{ section.settings.title }}
              </h1>
            {% endif %}
          </div>
        {% endif %}
        <div class="slider-outer ipad-none">
          <div class="swiper js_testimonial-slider">
            <div class="swiper-wrapper ">
              {%- for block in section.blocks -%}
                {% if forloop.first %}
                  {% if block.settings.image != blank or block.settings.description != blank %}
                    <div class=" swiper-slide flex ">
                      {% if block.settings.image != blank or block.settings.video != blank %}
                        <div class="image-section">
                          {% if block.settings.video != blank %}
                            {{
                              block.settings.video
                              | video_tag:
                                image_size: '1100x',
                                loop: true,
                                autoplay: true,
                                controls: false,
                                muted: true,
                                alt: block.settings.pretitle
                            }}
                          {% else %}
                            {% assign imageAlt = block.settings.image.alt %}
                            {% if imageAlt == blank %}
                              {% assign imageAlt = block.settings.pretitle %}
                            {% endif %}
                            {% if imageAlt == blank %}
                              {% assign imageAlt = shop.name %}
                            {% endif %}
                            {% include 'image_code'  with  mobileImage: block.settings.image, tabletImage: block.settings.image, desktopImage: block.settings.image, imageAlt: imageAlt %}
                          {% endif %}
                        </div>
                      {% endif %}
                      {% if block.settings.description != blank %}
                        <div class="content">
                          <div class="inner-content">
                            {% if block.settings.pretitle != blank %}
                              <span class="pre-title">{{ block.settings.pretitle }}</span>
                            {% endif %}
                            <div class="description">
                              {{ block.settings.description }}
                            </div>
                            {% if block.settings.userInfo != blank %}
                              <div class="user-info">
                                {{ block.settings.userInfo }}
                              </div>
                            {% endif %}
                            {% if block.settings.buttonText != blank and block.settings.buttonLink != blank %}
                              <a
                                class="link--primary small-green"
                                href="{{ block.settings.buttonLink }}"
                                title="Read More About {{ block.settings.pretitle }}"
                                aria-label="Read More About {{ block.settings.pretitle }}"
                              >
                                {{- block.settings.buttonText -}}
                              </a>
                            {% endif %}
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="slider-outer ipad-block">
          <div class="swiper js_testimonial-mobile-slider">
            <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                {% if block.settings.image != blank or block.settings.description != blank %}
                  <div class=" swiper-slide flex">
                    {% if block.settings.image != blank or block.settings.video != blank %}
                      <div class="image-section">
                        {% if block.settings.video != blank %}
                          {{
                            block.settings.video
                            | video_tag:
                              image_size: '1100x',
                              loop: true,
                              autoplay: true,
                              controls: false,
                              muted: true,
                              alt: block.settings.pretitle
                          }}
                        {% else %}
                          {% assign imageAlt = block.settings.image.alt %}
                          {% if imageAlt == blank %}
                            {% assign imageAlt = block.settings.pretitle %}
                          {% endif %}
                          {% if imageAlt == blank %}
                            {% assign imageAlt = shop.name %}
                          {% endif %}
                          {% include 'image_code'  with  mobileImage: block.settings.image, tabletImage: block.settings.image, desktopImage: block.settings.image, imageAlt: imageAlt %}
                        {% endif %}
                      </div>
                    {% endif %}
                    {% if block.settings.description != blank %}
                      <div class="content">
                        <div class="inner-content">
                          {% if block.settings.pretitle != blank %}
                            <span class="pre-title">{{ block.settings.pretitle }}</span>
                          {% endif %}
                          <div class="description">
                            {{ block.settings.description }}
                          </div>
                          {% if block.settings.userInfo != blank %}
                            <div class="user-info">
                              {{ block.settings.userInfo }}
                            </div>
                          {% endif %}
                          {% if block.settings.buttonText != blank and block.settings.buttonLink != blank %}
                            <a
                              class="link--primary small-green"
                              href="{{ block.settings.buttonLink }}"
                              title="Read More About {{ block.settings.pretitle }}"
                              aria-label="Read More About {{ block.settings.pretitle }}"
                            >
                              {{- block.settings.buttonText -}}
                            </a>
                          {% endif %}
                        </div>
                        {% comment %} <div class="swiper-pagination swiper-pagination-testimonial "></div> {% endcomment %}
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% if section.blocks.size > 1 %}
        <div class="below-single-testimonial-slider ipad-none">
          <div class="slider-outer-testi">
            <div class="swiper js_single-testimonial-slider">
              <div class="swiper-wrapper">
                {%- for block in section.blocks offset: 1 -%}
                  <div class=" swiper-slide">
                    {% if block.settings.description != blank %}
                      <div class="content">
                        <div class="inner-content">
                          {% if block.settings.pretitle != blank %}
                            <span class="pre-title">{{ block.settings.pretitle }}</span>
                          {% endif %}
                          <div class="description">
                            {{ block.settings.description }}
                          </div>
                          {% if block.settings.userInfo != blank %}
                            <div class="user-info">
                              {{ block.settings.userInfo }}
                            </div>
                          {% endif %}
                          {% if block.settings.buttonText != blank and block.settings.buttonLink != blank %}
                            <a
                              class="link--primary small-green"
                              href="{{ block.settings.buttonLink }}"
                              title="Read More About {{ block.settings.pretitle }}"
                              aria-label="Read More About {{ block.settings.pretitle }}"
                            >
                              {{- block.settings.buttonText -}}
                            </a>
                          {% endif %}
                        </div>
                        {% comment %} <div class="swiper-pagination swiper-pagination-testi "></div> {% endcomment %}
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>

            {% comment %}
              <div class="swiper-button-prev swiper-button-prev-social"></div>
              <div class="swiper-button-next swiper-button-next-social "></div>
            {% endcomment %}
            {% comment %} <div class="swiper-pagination swiper-pagination-testi "></div> {% endcomment %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
<script>
  jQuery(function () {
    var swiper = new Swiper('.js_testimonial-slider', {
      slidesPerView: 1,
      spaceBetween: 20,
      effect: 'fade',
      autoplay: {
        delay: 10000,
      },
      fadeEffect: {
        crossFade: true,
      },
    });
  });
  jQuery(function () {
    var swiper = new Swiper('.js_testimonial-mobile-slider', {
      slidesPerView: 1,
      spaceBetween: 20,
      effect: 'fade',
      autoplay: {
        delay: 10000,
      },
      speed: 4000,
      fadeEffect: {
        crossFade: true,
      },
      pagination: {
        el: '.swiper-pagination-testimonial',
        clickable: true,
      },
    });
  });

  jQuery(function () {
    var swiper = new Swiper('.js_single-testimonial-slider', {
      slidesPerView: 1.5,
      loop: false,
      grabCursor: true,
      spaceBetween: 39,
      autoplay: {
        delay: 1000,
      },
      speed: 4000,

      centeredSlides: true,
      pagination: {
        el: '.swiper-pagination-testi',
        clickable: true,
      },
    });
  });
</script>

{% schema %}
{
  "name": "Testimonial Slider",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "paragraph",
      "content": "Configure the heading and introduction for your testimonial slider section. These elements appear at the top and help set context for the testimonials displayed below."
    },
    {
      "type": "text",
      "id": "pretitle",
      "label": "Pretitle/Subtitle",
      "info": "Enter an optional subtitle or pre-title that appears above the main heading (e.g., 'Customer Stories', 'What Our Customers Say', 'Testimonials'). This smaller text helps create visual hierarchy and provides additional context for the testimonial section."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "info": "Enter the main heading for the testimonial slider (e.g., 'Hear From Our Customers', 'Love From Our Community', 'Real Reviews'). This title will be displayed prominently above the testimonials and should clearly communicate the purpose of this section - showcasing customer feedback and social proof."
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Title Size",
      "info": "Choose the appropriate heading size for your page title. Large headings work well for main pages, while smaller ones are better for sub-pages.",
      "default": "h1",
      "options": [
        {
          "value": "h3",
          "label": "Small (H3)"
        },
        {
          "value": "h2",
          "label": "Medium (H2)"
        },
        {
          "value": "h1",
          "label": "Large (H1)"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Spacing & Layout"
    },
    {
      "type": "paragraph",
      "content": "Use these settings to control the spacing around your three-column section. Adjust the padding to create proper visual separation from other sections on the page."
    },
    {
      "type": "range",
      "id": "paddingtop",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Top Spacing (Desktop)",
      "info": "Adjust the space above this section on desktop devices. Use this to create proper spacing between the three-column section and content above it.",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingtopmobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Top Spacing (Mobile)",
      "info": "Adjust the space above this section on mobile devices. Mobile spacing is typically smaller than desktop to optimize screen space.",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Bottom Spacing (Desktop)",
      "info": "Adjust the space below this section on desktop devices. Use this to create proper spacing between the three-column section and content below it.",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottomMobile",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Bottom Spacing (Mobile)",
      "info": "Adjust the space below this section on mobile devices. Mobile spacing is typically smaller than desktop to optimize screen space.",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Testimonial Image",
          "info": "Upload an image to accompany this testimonial (e.g., customer photo, product in use, or relevant visual). This image appears alongside the testimonial content and helps make the testimonial more engaging and credible. Recommended: Square or portrait orientation, minimum 800x800px."
        },
        {
          "type": "video",
          "id": "video",
          "label": "Testimonial Video",
          "info": "Upload a video file (MP4, WebM, or OGG format) to replace the image. Video testimonials can be more powerful than text testimonials as they show real people sharing genuine experiences. The video will autoplay, loop, and be muted by default for better user experience. Ensure videos are optimized for web (recommended: under 10MB per video)."
        },
        {
          "type": "text",
          "id": "pretitle",
          "label": "Author Pretitle",
          "info": "Enter an optional label or tagline for the testimonial author (e.g., 'Verified Customer', '5-Star Review', 'Featured Review'). This helps add credibility and context to the testimonial."
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Testimonial Content",
          "info": "Enter the actual testimonial text - the customer's review, feedback, or quote. This is the main content of the testimonial and should highlight positive experiences, key benefits, or customer satisfaction. You can use rich text formatting (bold, italic) to emphasize important points within the testimonial."
        },
        {
          "type": "text",
          "id": "userInfo",
          "label": "Author Information",
          "info": "Enter the testimonial author's information (e.g., 'John Smith, Product Owner', 'Sarah J., New York', 'Mike T. - Verified Buyer'). This typically includes the customer's name and often their location, title, or how they're associated with your product/service. This information appears below the testimonial content and adds authenticity."
        },
        {
          "type": "text",
          "id": "buttonText",
          "label": "Call-to-Action Button Text",
          "info": "Enter the text that appears on the call-to-action button for this testimonial (e.g., 'Read Full Review', 'See More', 'Learn More', 'Visit Profile'). This button provides an optional link to more detailed information, the full review, or a related page. Leave blank if you don't want a button for this testimonial."
        },
        {
          "type": "url",
          "id": "buttonLink",
          "label": "Call-to-Action Button URL",
          "info": "Enter the URL where the call-to-action button should link to (e.g., full review page, product page, review platform, or customer profile). This works together with the button text to provide additional information or context about the testimonial. Only works if button text is also provided."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial Slider"
    }
  ]
}
{% endschema %}
